
/* FRAMEWORK */
@import url(bootstrap.css);
@import url(font-awesome.css);
@import url(line-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ----------------- GLOBAL */

/* cores */
:root{
    --bg-primary: #ececec;
    --color-primary: #3e4454;
    --color-secundary: #ff3500;
    --btn-primary: #ff3500;
    --btn-primary-hover: #c02d08;
    --btn-primary-disabled: #ee795c;
}

/* ajustes gerais */
body {
    font-family: 'Montserrat', sans-serif;
}
a:hover { 
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn {
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.575rem 0.95rem;
}
.btn-danger {
    color: #fff;
    background-color:  var(--btn-primary);
    border-color:  var(--btn-primary);
}
.btn-danger:hover {
    color: #fff;
    background-color:  var(--btn-primary-hover);
    border-color:  var(--btn-primary-hover);
}
.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color:  var(--btn-primary);
    border-color:  var(--btn-primary);
    box-shadow: none;
}
.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color:  var(--btn-primary-disabled);
    border-color:  var(--btn-primary-disabled);
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color:  var(--btn-primary-hover);
    border-color:  var(--btn-primary-hover);
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: none;
}


/* titulo principal */
.main-title {
    font-size: 1.5rem;
    font-weight: 500;
    word-wrap: break-word;
    color: var(--color-primary);
    text-transform: uppercase
}

/* barra de navegação */
.navbar-area {
    padding: 1rem 0;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-content ul  {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.nav-content a:not(.nav-scroll-content a) {
    line-height: 2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: block;
    color:  var(--color-primary);
    font-weight: 550;
}
.nav-scroll-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.nav-scroll-content a {
    font-size: 0.7rem;
}
.nav-scroll-content .social-content-scroll {
    width: 35%;
}
.nav-scroll-content .social-content-scroll li a {
    color: var(--color-primary);
    font-size: 1.1rem;
    display: block;
}
.nav-scroll-content .social-content-scroll li a:hover {
    color: var(--color-secundary);
    transition: all 0.5s;
}

.navbar-fixed {
    position: fixed !important;
    width: 100% !important;
    top: -71px !important;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(70px);
    transition: transform 300ms ease, background 100ms ease;
    -webkit-transition: transform 300ms ease, background 100ms ease;
    box-shadow: 0px 11px 20px -5px rgba(0, 0, 0, 0.29);
    z-index: 15;
}



/* MOBILE MENU */
.mobile-menu-wrapper {
    background-color: var(--color-secundary);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    transform: translate(-100%);
    transition: all 0.5s ease-in-out;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-height: 100vh;
}
.mobile-body,
.mobile-head {
    margin: 1rem;
}
/* head */
.mobile-head .mobile-head-content {
    display: flex;
    justify-content: end;
    align-items: center;
}
.mobile-head .mobile-head-content img {
    width: 30%;
}
.mobile-head .mobile-head-content i {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
/* body */
.mobile-body .mobile-body-content .body-top .logo-mobile-wrapper {
    background-color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    padding: 7px;
    margin: 0 auto 1.5rem;
}
.logo-mobile-wrapper img {
    width: 130px;
}
.mobile-body .mobile-body-content .body-top .logo-mobile-wrapper a h1,
.mobile-body .mobile-body-content .body-top .logo-mobile-wrapper a h2 {
    color: var(--color-primary);
    text-align: center;
    margin: 0;
}
.mobile-body .mobile-body-content .body-top .logo-mobile-wrapper a h1 {
    font-weight: 800;
    font-size: 1.2rem;
}
.mobile-body .mobile-body-content .body-top .logo-mobile-wrapper a h2 {
    font-size: 0.9rem;
}
.mobile-body .mobile-body-content .body-top .contact-wrapper {
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}
.mobile-body .mobile-body-content .body-top .contact-wrapper .wtpp,
.mobile-body .mobile-body-content .body-top .contact-wrapper .tel,
.mobile-body .mobile-body-content .body-top .contact-wrapper .email {
    background-color: #fff;
    padding: 0.3rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.8rem;
}
.body-down {
    border-radius: 1rem;
    text-align: center;
    height: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.body-down a {
    color: var(--color-primary);
    display: block;
    padding: 0.8rem 0;
    font-weight: 800;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    font-size: 0.9rem;
}
.body-down p {
    margin: 0;
    font-size: 1.05rem;
    color: #fff;
} 


/* footer */
.footer-area {
    padding:1rem;
}
.footer-area {
    background-color: var(--color-primary);
    padding: 2rem 0;
}
.footer-area p {
    color: #fff;
    margin: 0;
}
.social-content {
    display: flex;
}
.social-content li a {
    color: #fff;
    line-height: 2rem;
    font-size: 1.3rem;
    padding: 0 0.5rem;
    display: block;
}
.social-content li a:hover {
    opacity: 0.8;
    transition: all 0.5s;
}
/* ----------------- END GLOBAL */

/* ----------------- INDEX */
/* banner */
.banner-content {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 600px;
    background-color: var(--bg-primary);
    background-position: 95% 7%;
    background-repeat: no-repeat;
    background-size: 58%;
    position: relative;
}
.banner-text {
    width: 100%;
}
.banner-text p,
.banner-text h1,
.banner-text h3 {
    margin: 0;
    text-transform: uppercase;
    color: var(--color-primary);
}
.banner-text p {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.banner-text h1 {
    font-size: 2.3rem;
    font-weight: 500;
}
.banner-text h1 span {
    color: var(--color-secundary);
    font-weight: 700;
}
.banner-text h3 {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.banner-text .social-content {
    margin-top: 1rem;
}
.banner-text .social-content li a {
    color: var(--color-primary);
}
.banner-text .social-content li a:hover {
    color: var(--color-secundary);
    transition: all 0.5s;
}


/* informações e habilidades */
.info-content .main-title,
.skills-content .main-title,
.projects-content .main-title,
.certificates-content .main-title,
.talk-to-me-content .main-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.info-content h3 span,
.skills-content h3 span {
    font-weight: 700;
    color: var(--color-secundary);
}

/* informações */
.info-content {
    padding: 3.5rem 0;
}
.info-content h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}
.info-card,
.info-card-2  {
    border-radius: 20px;
    background-color: var(--bg-primary);
    width: 100%;
    padding: 1rem;
}
.info-card {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-card-2 {
    padding: 1rem;
    height: 200px;
    display: flex;
    align-items: center;
}
.info-card h3,
.info-card-2 h3 {
    font-weight: 700;
    color: var(--color-secundary);
    font-size: 0.9rem;
}
.info-card p,
.info-card-2 p {
    font-size: 0.8rem;
    margin: 0;
}
.info-card h3 {
    text-align: center;
}
.info-card p {
    text-align: center;
}


/* habilidades */
.skills-content {
    background-color: #f9f9f9;
    padding: 3.5rem 0;
}
.skills-content h3 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
}
.skill-card {
    border-radius: 20px;
    background-color: var(--bg-primary);
    height: 100px;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-card h1 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-secundary);
}


/* projetos */
.projects-content {
    padding: 3.5rem 0;
}
.projects-content h3 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
}

/* certificados */
.certificates-content {
    padding: 3.5rem 0;
}
.certificates-content h3 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
}

/* Fale comigo */
.talk-to-me-content {
    padding: 3.5rem 0;
}

.talk-to-me-content h3 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
}

/* animação seta */
.anima {
    transform: rotate(180deg);
    transition: all 0.3s;
}
.anima-back {
    transform: rotate(0deg);
    transition: all 0.3s;
}


/* ----------------- END INDEX */



/* ----------------- PROJETOS */

/* ----------------- END PROJETOS */


/* ----------------- CERTIFICADOS */
/* ----------------- END CERTIFICADOS */


/* ----------------- MOBILE */

@media (max-width: 320.98px) {

    /* banner */
    .banner-content{
        background-position: 40% -2rem;
        background-size: 54rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .banner-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 89%;
        bottom: 1rem;
        padding: 1rem;
    }
    .banner-text p {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .banner-text h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .banner-text h3{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .banner-text p, 
    .banner-text h1,
    .banner-text h3,
    .social-content li a {
        color: var(--bg-primary)!important;
        background-color: #1b1b1b8c;
        display: inline-block;
    }
    .banner-text a {
        margin-top: 1.8rem !important;
        width: 100%;
    }
    .nav-scroll-content {
        display: none;
    }

    /* info area */
    .info-content {
        padding: 1.5rem 0;
    }    
    .info-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .info-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }
    #exp .intro {
        text-align: center !important;
    }
    .info-card-2 {
        padding: 1rem;
        height: 280px;
        display: flex;
        align-items: center;
    }
    .info-card-2 h3 {
        text-align: unset !important;
    }
    .info-card-2 p {
        font-size: 0.79rem;
        margin: 0;
    }
    #rotina-trabalho p {
        font-size: 0.9rem !important;
        text-align: left !important;
        align-items: start !important;
    }

    /* skills area */
    .skills-content {
        padding: 1.5rem 0;
    }    
    .skills-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .skills-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }
    .skill-card h1 {
        font-size: 0.8rem;
    }

    /* projetos */
    .projects-content {
        padding: 1.5rem 0;
    }
    .projects-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .projects-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }

    /* certificados */
    .certificates-content {
        padding: 1.5rem 0;
    }
    .certificates-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .certificates-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }

    /* Fale comigo */
    .talk-to-me-content {
        padding: 1.5rem 0;
    }
    .talk-to-me-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .talk-to-me-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }

    .footer-area p {
        text-align: center;
        font-size: 0.9rem;
    }
    .footer-area .social-content {
        display: none;
    }
}
@media (min-width: 321px) and (max-width: 375.98px) {
    
    /* banner */
    .banner-content{
        background-position: 38% -2rem;
        background-size: 54rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .banner-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 89%;
        bottom: 1rem;
        padding: 1rem;
    }
    .banner-text p {
        font-size: 1.090rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .banner-text h1 {
        font-size: 2.05rem;
        font-weight: 500;
    }
    .banner-text h3{
        font-size: 1.090rem;
        font-weight: 400;
    }
    .banner-text p, 
    .banner-text h1,
    .banner-text h3,
    .social-content li a {
        color: var(--bg-primary)!important;
        background-color: #1b1b1b8c;
        display: inline-block;
    }
    .banner-text a {
        margin-top: 2.1rem !important;
        width: 100%;
    }
    .nav-scroll-content {
        display: none;
    }


    /* banner */
    .banner-content{
        background-position: 40% -2rem;
        background-size: 54rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .banner-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 89%;
        bottom: 1rem;
        padding: 1rem;
    }
    .banner-text p {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .banner-text h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .banner-text h3{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .banner-text p, 
    .banner-text h1,
    .banner-text h3 {
        color: var(--bg-primary);
        background-color: #1b1b1b8c;
        display: inline-block;
    }
    .banner-text a {
        margin-top: 1.8rem !important;
        width: 100%;
    }

    /* info area */
    .info-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .info-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }
    #exp .intro {
        text-align: center !important;
    }
    .info-card-2 {
        padding: 1rem;
        height: 280px;
        display: flex;
        align-items: center;
    }
    .info-card-2 h3 {
        text-align: unset !important;
    }
    .info-card-2 p {
        font-size: 0.79rem;
        margin: 0;
    }
    #rotina-trabalho p {
        font-size: 0.9rem !important;
        text-align: left !important;
        align-items: start !important;
    }

    /* skills area */
    .skills-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .skills-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }
    .skill-card h1 {
        font-size: 0.8rem;
    }
}

@media (min-width: 376px) and (max-width: 425.98px) {
    
    /* banner */
    .banner-content{
        background-position: 38% -2rem;
        background-size: 56rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .nav-scroll-content {
        display: none;
    }
    .banner-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 89%;
        bottom: 1.95rem;
        padding: 1rem;
    }
    .banner-text p {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .banner-text h1 {
        font-size: 2.39rem;
        font-weight: 500;
    }
    .banner-text h3{
        font-size: 1.25rem;
        font-weight: 400;
    }
    .banner-text p, 
    .banner-text h1,
    .banner-text h3,
    .social-content li a {
        color: var(--bg-primary)!important;
        background-color: #1b1b1b8c;
        display: inline-block;
    }
    .banner-text a {
        margin-top: 2.1rem !important;
        width: 100%;
    }

    /* banner */
    .banner-content{
        background-position: 40% -2rem;
        background-size: 54rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .banner-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 89%;
        bottom: 1rem;
        padding: 1rem;
    }
    .banner-text p {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .banner-text h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .banner-text h3{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .banner-text p, 
    .banner-text h1,
    .banner-text h3 {
        color: var(--bg-primary);
        background-color: #1b1b1b8c;
        display: inline-block;
    }
    .banner-text a {
        margin-top: 1.8rem !important;
        width: 100%;
    }

    /* info area */
    .info-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .info-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }
    #exp .intro {
        text-align: center !important;
    }
    .info-card-2 {
        padding: 1rem;
        height: 280px;
        display: flex;
        align-items: center;
    }
    .info-card-2 h3 {
        text-align: unset !important;
    }
    .info-card-2 p {
        font-size: 0.79rem;
        margin: 0;
    }
    #rotina-trabalho p {
        font-size: 0.9rem !important;
        text-align: left !important;
        align-items: start !important;
    }

    /* skills area */
    .skills-content h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: start;
    }
    .skills-content h3 {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.3rem;
    }
    .skill-card h1 {
        font-size: 0.8rem;
    }
}

@media (min-width: 426px) and (max-width: 575.98px) {
    
    /* banner */
    .banner-content{
        background-position: 38% -2rem;
        background-size: 56rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .nav-scroll-content {
        display: none;
    }


    /* MOBILE */
    .mobile-body-content {
        width: 65%;
        margin: auto;
    }

    .banner-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 95%;
        bottom: 1.55rem;
        padding: 1rem;
    }
    .banner-text p {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .banner-text h1 {
        font-size: 2.47rem;
        font-weight: 500;
    }
    .banner-text h3 {
        font-size: 1.25rem;
        font-weight: 400;
    }
    .banner-text p, 
    .banner-text h1,
    .banner-text h3,
    .social-content li a {
        color: var(--bg-primary)!important;
        background-color: #1b1b1b8c;
        display: inline-block;
    }
    .banner-text a {
        margin-top: 2.1rem !important;
    }


}

@media (min-width: 576px) and (max-width: 767.98px) { 
    
    /* banner */
    .banner-content{
        background-position: 10rem 0rem;
        background-size: 42rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content {
        padding: 0 1rem;
    }
    .nav-content i {
        font-size: 1.5rem;
    }
    .nav-content ul {
        display: none;
    }
    .nav-scroll-content {
        display: none;
    }

    /* MOBILE */
    .mobile-body-content {
        width: 65%;
        margin: auto;
    }

    .banner-text {
        width: 70%;
        padding: 1rem;
        top: 9rem;
        left: 0;
        right: 0;
    }
    .banner-text h3{
        font-size: 1.12rem;
        font-weight: 400;
    }
    .banner-text h1 span,
    .banner-text h3, 
    .social-content li a {  
        background-color: var(--bg-primary);
    }

    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    /* banner */
    .banner-content{
        background-position: 23rem 0rem;
        background-size: 40rem;
        height: 530px;
    }
    .navbar-area {
        top: 0;
    }
    .nav-content ul {
        display: flex;
        width: 65%;
        justify-content: space-between;
    }
    .nav-content i {
        display: none;
    }
    .nav-scroll-content {
        width: unset;
    }
    .nav-scroll-content .social-content-scroll {
        display: none;
    }

    .mobile-body-content {
        width: 65%;
        margin: auto;
    }

    .banner-text {
        width: 20.2rem;
    }
    .banner-text h3{
        font-size: 1.12rem;
        font-weight: 400;
    }
    .banner-text h1 span,
    .banner-text h3, 
    .social-content li a {  
        background-color: var(--bg-primary);
    }

    #rotina-trabalho p {
        text-align: left !important;
        align-items: start !important;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* banner */
    .banner-text {
        width: 20.2rem;
    }
    .banner-text h3{
        font-size: 1.12rem;
        font-weight: 400;
    }
    .nav-content i {
        display: none;
    }
       
    .info-card-2 {
        padding: 1rem;
        height: 266px;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1200px) {

    /* banner */
    .mobile-trigger {
        display: none;
    }
    .info-card-2 {
        padding: 1rem;
        height: 266px;
        display: flex;
        align-items: center;
    }

}


/* ----------------- END MOBILE */